* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html {
        @media (max-width: 1080px){
        font-size: 93.75%;
    }

    @media (max-width: 720px){
        font-size: 87.5%large;
        }
}

body {  
    -webkit-font-smoothing: antialiased;
}

border-style, input, textarea, button {
    font-family: 'Dosis', sans-serif;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6, strong, span,p {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

button {
    cursor: pointer;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Cabeçalho */

header{
    padding: 5%;
    background: #1C6985;
}

.title-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header button{
    background: none;
    color: #FFFFFF;
}

.button-menu {
    width: 20px;
    height: 20px;
    padding: 20%;
}

.title {
    width: 106.28px;
    height: 23.33px;
    left: 18px;
    top: 14px;

    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

/*Caixa de pesquisa*/

.search-box{
    width: 100%;
    height: 19.54px;
    left: auto;
    right: auto;
    top: 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    

    background: #F0EDF0;
    border-radius: 5.57055px;
}

#search-input{
    width: 100%;
    height: 25px;
    left: 155.79px;
    top: 22.33px;

    font-family: Sansation Light;
    font-style: normal;
    font-weight: 300;
    font-size: small;
    line-height: 9px;

    text-align: center;    
    letter-spacing: 0.02em;

    color: #FFFFFF;
    background: none;
    border: none;
}

.search-loupe{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

/* BODY */

.product{
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 10px;

    align-items: center;
}

.product p{
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;

    color: #050505;
}

.pay2{
    width: 305px;
    height: 75px;
    left: 28px;
    top: 456px;

    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.paymant{
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}

.p1{
    width: 153px;
    height: 25px;
    left: 28px;
    top: 456px;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-decoration-line: line-through;

    color: #A3B0D9;


}

.p2{
    width: 153px;
    height: 56px;
    left: 28px;
    top: 475px;

    font-weight: 300;
    font-size: 36px;
    line-height: 56px;
    /* identical to box height */

    color: #273B7A;

    margin-left: 30px;
}

.card{
    border: 0.5px solid #1C6985;
    box-sizing: border-box;
    border-radius: 5px;
}

.credcard{
    font-size: 15px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    margin-left: 5px;
    margin-top: 2px;
    color: #050505;
}

.quant{
    display: flex;
    justify-content: space-between;
}

.quant img {
    margin-left: 3px;
    margin-top: 3px;
}

.parcelas{
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    letter-spacing: 0.05em;

    margin-left: 35px;
    margin-right: 3px;

    color: #273B7A;
}

.chose{
    width: 283px;
    height: 83px;
    left: 28px;
    top: 545px;
}

.size, .color{
    display: flex;
    justify-content: space-between;

    margin-left: 40px;
    margin-top: 20px;

}

.size p{
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #050505;
}

.size button {
    border: black;
    width: 25px;
    height: 25px;
    left: 251px;
    top: 545px;
}

.color p{
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #050505;
}

.chosecolor button{
    border: none;
}

/* Relacionados */

.others{
    padding: 20px;
}

.produts{
    height: 302.83px;
    left: 26px;
    top: 657px;
}

.prods1, .prods2{
    display: flex;
    justify-content: space-between;
}

.others h3{
    font-size: 18px;
    line-height: 16px;
    /* identical to box height */

    margin-bottom: 5px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #1C6985;

}

.others p{
    font-size: 15px;
    line-height: 13px;
    /* identical to box height */

    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #1C6985;
}

/* Buttons */

.buynow{
    margin-left: 30px;
    display: flex;

    width: 306px;
    height: 30px;
    left: 28px;
    top: 999px;

    background: #1C6985;
    border-radius: 10px;

}

.buynow button{
    border: none;
    background: none;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    display: flex;

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;

    margin-left: 70px;
    margin-top: 5px;

}

.buynow img{
    width: 23px;
    height: 19.69px;
    left: 38px;
    top: 1008.42px;

    box-sizing: border-box;

    margin-left: 15px;
    margin-top: 5px;
}

.addpackage {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    display: flex;

    width: 306px;
    height: 30px;
    left: 28px;
    top: 999px;

    border: 1px solid #1C6985;
    border-radius: 10px;
}

.addpackage button{
    border: none;
    background: none;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    display: flex;

    text-align: center;
    letter-spacing: 0.02em;

    color: #1C6985;

    margin-left: 70px;
    margin-top: 5px;
}

.addpackage img{
    width: 23px;
    height: 19.69px;
    left: 38px;
    top: 1008.42px;

    box-sizing: border-box;

    margin-left: 15px;
    margin-top: 5px;
}











/* Rodapé */


.redes{
    display: flex;
    justify-content: space-between;
    background: #1C6985;
    padding: 5%;

}

.redes p{
    font-family: Sansation Light;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: #F3F6F7;
}

.redes img{
    width: 151px;
    height: 24px;
    left: 103px;
    top: 1592px;
}

/*Contato e perguntas*/

.infos {
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.contato{
    padding: 2%;
    background: #209BC7;
}

.num{
    display: flex;
    padding-top: 2px;
}

.num p{
    margin-left: 7px;
    margin-bottom: 5px;
    margin-top: 5px;

    line-height: 10px;

    text-align: center;
    letter-spacing: 0.02em;

    color: #F3F6F7;
}

.question{
    display: flex;
    padding-top: 8px;
}

.question p{
    line-height: 20px;
    margin-left: 7px;

    letter-spacing: 0.09em;

    color: #F3F6F7;
}

/*Pagamento e informações*/

.payment{
    background: #1C6985;
    font-size: 12px;

}

.pay{
    display: flex;
    justify-content: space-between;
}

.pay p{
    line-height: 20px;
    margin-left: 7px;


    color: #F3F6F7;
}

.pay img{
    width: 145px;
    height: 18px;
    left: 80px;
    
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 5px;
}

.address {
    font-size: 15px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.09em;
    
    margin-top: 5px;

    color: #F3F6F7;
}

.cnpj{
    margin-top: 8px;
    letter-spacing: 0.09em;
    line-height: 18px;


}

.cep{
    line-height: 18px;
    letter-spacing: 0.09em;
}