* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html {
        @media (max-width: 1080px){
        font-size: 93.75%;
    }

    @media (max-width: 720px){
        font-size: 87.5%large;
        }
}

body {  
    -webkit-font-smoothing: antialiased;
}

border-style, input, textarea, button {
    font-family: 'Dosis', sans-serif;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6, strong, span,p {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

button {
    cursor: pointer;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Cabeçalho */

header{
    padding: 5%;
    background: #1C6985;
}

.title-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header button{
    background: none;
    color: #FFFFFF;
}

.button-menu {
    width: 20px;
    height: 20px;
    padding: 20%;
}

.title {
    width: 106.28px;
    height: 23.33px;
    left: 18px;
    top: 14px;

    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

/*Caixa de pesquisa*/

.search-box{
    width: 100%;
    height: 19.54px;
    left: auto;
    right: auto;
    top: 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    

    background: #F0EDF0;
    border-radius: 5.57055px;
}

#search-input{
    width: 100%;
    height: 25px;
    left: 155.79px;
    top: 22.33px;

    font-family: Sansation Light;
    font-style: normal;
    font-weight: 300;
    font-size: small;
    line-height: 9px;

    text-align: center;    
    letter-spacing: 0.02em;

    color: #FFFFFF;
    background: none;
    border: none;
}

.search-loupe{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

/* Barra de filtro e ordenação */

.filters{
    width: 324px;
    height: 28px;
    left: auto;
    right: auto;
    position: relative;

    display: flex;
    justify-content: space-between;

    margin-left: 20px;
    margin-top: 20px;
}

.orderbox{
    width: 152px;
    height: 28px;
    left: 18px;
    top: 113px;

    background: #25AFAF;

    text-align: center;
    padding: 5px;
}

.orderbox button{
    background: none;
    border: none;

    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.filter{
    width: 172px;
    height: 28px;
    left: 170px;
    top: 113px;

    background: #1C6985;
    border: none;

    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;


}

/* Lista de produtos */

.grid{
    padding: 20px;
    width: 100%;
    margin-top: 10px;
}

.line1, .line2, .line3, .line4, .line5{

    display: flex;
    justify-content: space-between;
}

.line1, .line2, .line3, .line4, .line5 p{
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #1C6985;
}

/* Rodapé */


.redes{
    display: flex;
    justify-content: space-between;
    background: #1C6985;
    padding: 5%;

}

.redes p{
    font-family: Sansation Light;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: #F3F6F7;
}

.redes img{
    width: 151px;
    height: 24px;
    left: 103px;
    top: 1592px;
}

/*Contato e perguntas*/

.infos {
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.contato{
    padding: 2%;
    background: #209BC7;
}

.num{
    display: flex;
    padding-top: 2px;
}

.num p{
    margin-left: 7px;
    margin-bottom: 5px;
    margin-top: 5px;

    line-height: 10px;

    text-align: center;
    letter-spacing: 0.02em;

    color: #F3F6F7;
}

.question{
    display: flex;
    padding-top: 8px;
}

.question p{
    line-height: 20px;
    margin-left: 7px;

    letter-spacing: 0.09em;

    color: #F3F6F7;
}

/*Pagamento e informações*/

.payment{
    background: #1C6985;
    font-size: 12px;

}

.pay{
    display: flex;
    justify-content: space-between;
}

.pay p{
    line-height: 20px;
    margin-left: 7px;


    color: #F3F6F7;
}

.pay img{
    width: 145px;
    height: 18px;
    left: 80px;
    
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 5px;
}

.address {
    font-size: 15px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.09em;
    
    margin-top: 5px;

    color: #F3F6F7;
}

.cnpj{
    margin-top: 8px;
    letter-spacing: 0.09em;
    line-height: 18px;


}

.cep{
    line-height: 18px;
    letter-spacing: 0.09em;
}