* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html {
        @media (max-width: 1080px){
        font-size: 93.75%;
    }

    @media (max-width: 720px){
        font-size: 87.5%large;
        }
}

body {  
    -webkit-font-smoothing: antialiased;
}

border-style, input, textarea, button {
    font-family: 'Dosis', sans-serif;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6, strong, span,p {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

button {
    cursor: pointer;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Cabeçalho */

header{
    padding: 5%;
}

.title-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button{
    background: none;
}

.button-menu {
    width: 20px;
    height: 20px;
    padding: 20%;
}

.title {
    width: 106.28px;
    height: 23.33px;
    left: 18px;
    top: 14px;

    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20.7376px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #000000;
}

/*Caixa de pesquisa*/

.search-box{
    width: 100%;
    height: 19.54px;
    left: auto;
    right: auto;
    top: 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(65, 105, 225, 0.13);
    border-radius: 5.57055px;
}

#search-input{
    width: 100%;
    height: 25px;
    left: 155.79px;
    top: 22.33px;

    font-family: Sansation Light;
    font-style: normal;
    font-weight: 300;
    font-size: small;
    line-height: 9px;

    text-align: center;    
    letter-spacing: 0.02em;

    color: #9B8D8D;
    background: none;
    border: none;
}

.search-loupe{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

/* Página */

.dep-escolha{
    padding: 20px;
    width: 100%;
    margin-top: 10px;
}

.line1, .line2{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.escolhas p{
    text-align: center;
    letter-spacing: 0.02em;
}