.product{
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 10px;

    align-items: center;
}

.product p{
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;

    color: #050505;
}

.pay2{
    width: 305px;
    height: 75px;
    left: 28px;
    top: 456px;

    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.paymant{
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}

.p1{
    width: 153px;
    height: 25px;
    left: 28px;
    top: 456px;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-decoration-line: line-through;

    color: #A3B0D9;


}

.p2{
    width: 153px;
    height: 56px;
    left: 28px;
    top: 475px;

    font-weight: 300;
    font-size: 36px;
    line-height: 56px;
    /* identical to box height */

    color: #273B7A;

    margin-left: 30px;
}

.card{
    border: 0.5px solid #1C6985;
    box-sizing: border-box;
    border-radius: 5px;
}

.credcard{
    font-size: 15px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    margin-left: 5px;
    margin-top: 2px;
    color: #050505;
}

.quant{
    display: flex;
    justify-content: space-between;
}

.quant img {
    margin-left: 3px;
    margin-top: 3px;
}

.parcelas{
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    letter-spacing: 0.05em;

    margin-left: 35px;
    margin-right: 3px;

    color: #273B7A;
}

.chose{
    width: 283px;
    height: 83px;
    left: 28px;
    top: 545px;
}

.size, .color{
    display: flex;
    justify-content: space-between;

    margin-left: 40px;
    margin-top: 20px;

}

.size p{
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #050505;
}

.size button {
    border: black;
    width: 25px;
    height: 25px;
    left: 251px;
    top: 545px;
}

.color p{
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #050505;
}

.chosecolor button{
    border: none;
}

/* Relacionados */

.others{
    padding: 20px;
}

.produts{
    height: 302.83px;
    left: 26px;
    top: 657px;
}

.prods1, .prods2{
    display: flex;
    justify-content: space-between;
}

.others h3{
    font-size: 18px;
    line-height: 16px;
    /* identical to box height */

    margin-bottom: 5px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #1C6985;

}

.others p{
    font-size: 15px;
    line-height: 13px;
    /* identical to box height */

    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #1C6985;
}

/* Buttons */

.buynow{
    margin-left: 30px;
    display: flex;

    width: 306px;
    height: 30px;
    left: 28px;
    top: 999px;

    background: #50CE4D;
    border-radius: 10px;

}

.buynow button{
    border: none;
    background: none;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    display: flex;

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;

    margin-left: 70px;
    margin-top: 5px;

}

.buynow img{
    width: 23px;
    height: 19.69px;
    left: 38px;
    top: 1008.42px;

    box-sizing: border-box;

    margin-left: 15px;
    margin-top: 5px;
}

.addpackage {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    display: flex;

    width: 306px;
    height: 30px;
    left: 28px;
    top: 999px;

    border: 1px solid #1C6985;
    border-radius: 10px;
}

.addpackage button{
    border: none;
    background: none;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    display: flex;

    text-align: center;
    letter-spacing: 0.02em;

    color: #1C6985;

    margin-left: 70px;
    margin-top: 5px;
}

.addpackage img{
    width: 23px;
    height: 19.69px;
    left: 38px;
    top: 1008.42px;

    box-sizing: border-box;

    margin-left: 15px;
    margin-top: 5px;
}
